<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.Forum.dao.CategoryMapper">

    <resultMap id="BaseResultMap" type="cn.edu.ujn.Forum.dao.Category">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM category
        WHERE status = 1
        ORDER BY sort ASC
    </select>

    <insert id="insert" parameterType="cn.edu.ujn.Forum.dao.Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name, description, sort, status)
        VALUES (#{name}, #{description}, #{sort}, #{status})
    </insert>

    <update id="update" parameterType="cn.edu.ujn.Forum.dao.Category">
        UPDATE category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category WHERE id = #{id}
    </delete>
</mapper>