<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ujn.Forum.dao.LogsMapper">
    <resultMap id="BaseResultMap" type="cn.edu.ujn.Forum.dao.Logs">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, login_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from logs
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from logs
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.edu.ujn.Forum.dao.Logs">
        insert into logs (id, user_id, login_time
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.edu.ujn.Forum.dao.Logs">
        insert into logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ujn.Forum.dao.Logs">
        update logs
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.ujn.Forum.dao.Logs">
        update logs
        set user_id = #{userId,jdbcType=INTEGER},
        login_time = #{loginTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertLog" parameterType="cn.edu.ujn.Forum.dao.Logs">
        INSERT INTO logs (user_id, login_time)
        VALUES (#{userId}, #{loginTime})
    </insert>
    <!-- 根据用户 ID 查询登录记录 -->
    <select id="selectLogsByUserId" resultType="cn.edu.ujn.Forum.dao.Logs">
        SELECT user_id AS userId, login_time AS loginTime
        FROM logs
        WHERE user_id = #{userId}
        ORDER BY login_time DESC;
    </select>
</mapper>